@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'poppins' , sans-serif;
}
.container{
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;

}
.logo{
    display: flex;
    font-size: 30px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-right:800px;
    text-transform:uppercase;
    
}
b{
    font-size: 40px;
    color:rgb(255, 0, 157);
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
color: rgb(255, 255, 255);
letter-spacing: 3px;
word-spacing: 10px;
text-decoration: none;
text-transform: capitalize;
}
.navItems li:hover a{
    color:rgb(255, 0, 157);
}
.wrapper{
    display:flex;
    width:100%;
     margin-left: -210px;
    margin-top: -400px;
    height: calc(100vh -80px);
    justify-content: center;
    align-items: center;
    padding:0 10%;
    overflow: hidden;
}
.wrapper::before{
    position:absolute;
    content:'';
    height:450px;
    width:450px;
    border-radius: 50%;
    left:-10%;
    top:40%;
background: linear-gradient(90deg,rgb(255, 0, 234), pink);
animation: object1 6s linear infinite;
}
.wrapper::after{
    position:absolute;
    content:'';
    height:100px;
    width:100px;
    border-radius: 50%;
    left:35%;
    top:12%;
background: linear-gradient(45deg,rgb(255, 0, 157), rgb(252, 176, 223));
animation: object2 6s linear infinite;
}
.cols{
    width:70%;
}
.cols0{
    width:80%;
    z-index:5;
}
.topline{
    position:absolute;
    content: '';
    height:4px;
    width: -40px;
    bottom:480px;
    background-color:rgb(0, 0, 0) ;
}
h1{
    font-size: 80px;
    font-weight: 800;
    margin-top: -30px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(255, 255, 255);
}
.multiText{
    color:rgb(255, 0, 157);
    text-transform: capitalize;
    text-shadow: 0 0 10px rgb(255, 54, 178);
}
a{
    display: block;
    width:90%;
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
    text-shadow:0 0 5px whitesmoke;
}
.imgbox #me{

    margin-left: 950px;
    width:55%;
    height:55%;
}
.imgbox img{
    position: relative;
    height:50%;
    width:calc(150% - 80px);
    top: -300px;
    right: 60px;
    animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
    50%{
        right:90px;
        top:-290px;
    }
}
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%) rotate(0deg);
    width: 50%;
    margin-left: 450px ;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    50%{
        top:49%;
        left:51%;
        width: 155;
    }
}
@keyframes object1{
    50%{
        left:-13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left:35%;
        top: 10%;
    }
}