@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'poppins' , sans-serif;
}
body{
    overflow:hidden;
}
.header{
 
        position: fixed;
        top:0;
        left:0;
        width:100%;
        padding: 20px 100px;
        margin-left:-20px;
        top:-35px;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index:100;
        
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 80px;
    line-height: 80px;
    z-index: 111;

}
.logo{
    display: flex;
    font-size: 30px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-right:300px;
    text-transform:uppercase;
    text-shadow: 0 0 5px rgb(255, 0, 157);
}
b{
    font-size: 40px;
    color:rgb(255, 0, 157);
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 1px;
}
.navItems li a{
    font-size: 25px;
color: rgb(255, 255, 255);
text-shadow: 0 0 5px rgb(255, 0, 157);
letter-spacing: 3px;
word-spacing: 10px;
text-decoration: none;
text-transform: capitalize;
}
.navItems li:hover a{
    color:rgb(255, 0, 157);
}
.wrapper{
    display:flex;
    width:100%;
     margin-left: -210px;
    margin-top: -400px;
    height: calc(100vh -80px);
    justify-content: center;
    align-items: center;
    padding:0 10%;
    overflow: hidden;
}
.wrapper::before{
    position:absolute;
    content:'';
    height:450px;
    width:450px;
    border-radius: 50%;
    left:-10%;
    top:40%;
background: linear-gradient(90deg,rgb(255, 0, 234), pink);
animation: object1 6s linear infinite;
}
.wrapper::after{
    position:absolute;
    content:'';
    height:100px;
    width:100px;
    border-radius: 50%;
    left:35%;
    top:12%;
background: linear-gradient(45deg,rgb(255, 0, 157), rgb(252, 176, 223));
animation: object2 6s linear infinite;
}
.cols{
    width:70%;
}
.cols0{
    width:80%;
    z-index:5;
}
.topline{
    position:absolute;
    content: '';
    height:5px;
    width: -50px;
    margin-left: 150px;
    bottom:420px;
    color:white;
    background-color:rgb(255, 0, 157) ;
}
h1{
    font-size: 80px;
    font-weight: 800;
    margin-top: 635px;
    margin-left: 150px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(255, 255, 255);
}
.multiText{

    color:rgb(255, 0, 157);
    text-transform: capitalize;
    text-shadow: 0 0 10px rgb(255, 54, 178);
}
a{
    display: block;
    width:100%;
    margin-left: 150px;
    font-size: 1.2rem;
    color:rgb(0, 0, 0);
    text-shadow:0 0 10px whitesmoke;
}
section:nth-child(odd){
    background-repeat:repeat;
    background-size: cover;
    background-image: url('https://wallpapercave.com/wp/wp2672074.jpg');
}
    
.imgbox #me{

    margin-left: 1000px;
    width:40%;
    height:55%;
    border-radius: 50%;
}
.imgbox img{
    position: relative;
    height:50%;
    width:calc(150% - 80px);
    top: -300px;
    right: 60px;
    animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
    50%{
        right:90px;
        top:-290px;
    }
}
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    width: 40%;
    height:40%;
    margin: 60px ;
    margin-left: 420px ;
    filter: saturate(200%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    50%{
        top:49%;
        left:51%;
        width: 155;
    }
}
@keyframes object1{
    50%{
        left:-13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left:35%;
        top: 10%;
    }
}
#about p{
    color:white;
    text-shadow:0 0  10px rgb(255, 0, 242);

}
#about .image1 img{
    max-width: 200px;
    margin: 0 30px
}
section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: auto;
    background-color: rgb(0, 0, 0);
}  
header .sticky{
    padding: 0px 100px;

}
section .animate{
    transition: 2s;

}
#about .animate{
    transform: translateX(-100px);
}
#about.show-animate .animate{
    transform: translateX(0);
}
.dj{
    margin-top:75px;
    text-shadow:0 0  10px rgb(255, 0, 242);
    text-align: center;
}