label[for='pirs'] {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 170, 248);
    border-radius: 5px;
    font-family: cursive;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    left:0px;
    bottom:5px;
    margin-left: 60px;
    margin-top:100px;
	cursor: pointer;
}
    .tap1{
        position: relative;
    height:150px;
    width:150px;
    display:none;
    border: solid 2px #141306;
    background: url('https://scontent.fcgm1-1.fna.fbcdn.net/v/t39.30808-6/378466719_862930235458061_7403443481542864862_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=9c7eae&_nc_eui2=AeG4iYzaTY3DoldTwMeaZX0NG8Fp5G5ZGuEbwWnkblka4SFXiiOLhioR2g_h1-hC9wbjL1_J_I_Dqcd1uAxUD0OM&_nc_ohc=9HnpBmpfChAAX_ujMac&_nc_ht=scontent.fcgm1-1.fna&oh=00_AfCtGnaKoFgKtNS-xp7wEfgph_fgOzZ4KHVurvnbj8lZDg&oe=65852F98');
    background-size: cover;
    width:150px;
height: 150px;
margin: 90px;
left: 10px;
cursor: pointer;
   
    }
    .tap1:hover{
        background-image: url('https://scontent.xx.fbcdn.net/v/t1.15752-9/404882201_1369541083687336_1600108053119512347_n.jpg?stp=dst-jpg_p160x160&_nc_cat=109&ccb=1-7&_nc_sid=510075&_nc_eui2=AeEawtRK47yoy9P5TXlUX2s7KXHJ3e0G7Dgpccnd7QbsOHu8wB_2W-S4OpwThHU2yf62xzAL3Y22Qxgln9cI1q80&_nc_ohc=4v_wAaoyMRkAX_4RPYy&_nc_oc=AQnCG9_cQCyEs8mhGIkPm92xo0g3epqHK_tSzhKCy2WQY4-fu6el0c8Yne1Zc9s5fMaK_3Ihnbuh9gAUcUX-JQuq&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdR8e6f9QVaDGqpFnEFC4-hS2L3nCLfrwV5kEPklmhkCYQ&oe=65A7375C');
        background-position-y:-100px;
    }
    
    input[type=checkbox] {
        display:none;
    }
    input[type=checkbox]:checked + .tap {
        display: block;
    }
    input[type=checkbox]:checked + .tap1 {
        display: block;
    }
    * {
        box-sizing: border-box;
    }
    .container {
      display:inline-block;
    column-gap: 20px;
    }
    .skills, .experience, .personal{
        color:rgb(0, 0, 0);
        text-shadow: 0 0 5px rgb(255, 0, 157);
    }
    .skills, .experience, .personal {
        margin: 20px;
       }
       
       .skills ul, .experience , .personal {
        list-style-type: none;
        padding: 0;
       }
       
       .skills li, .experience li , .personal{
        padding: 5px;
       } 
       .skills{
height:200px;
width: 200px;
text-align: center;
margin-left: 300px;
background-color: rgba(0, 0, 0, 0.329);
border-radius: 30px;
       }
.experience{
margin-left: 520px;
    height:200px;
    margin-top:-220px;
width: 200px; 
text-align: center;
border-radius: 30px;
background-color: rgba(0, 0, 0, 0.329);
}
.personal{
    height:200px;
    width: 200px;
    text-align: center;
    margin-top: -220px;
    margin-left:740px;
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 30px;
 }