label[for='pirs'] {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 170, 248);
    border-radius: 5px;
    font-family: cursive;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    left:0px;
    bottom:5px;
    margin-left: 60px;
    margin-top:100px;
	cursor: pointer;
}
    .tap1{
        position: relative;
    height:150px;
    width:150px;
    display:none;
    border: solid 2px #ff0077;
    background: url('https://scontent.fcgm1-1.fna.fbcdn.net/v/t39.30808-6/378466719_862930235458061_7403443481542864862_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=9c7eae&_nc_eui2=AeG4iYzaTY3DoldTwMeaZX0NG8Fp5G5ZGuEbwWnkblka4SFXiiOLhioR2g_h1-hC9wbjL1_J_I_Dqcd1uAxUD0OM&_nc_ohc=9HnpBmpfChAAX_ujMac&_nc_ht=scontent.fcgm1-1.fna&oh=00_AfCtGnaKoFgKtNS-xp7wEfgph_fgOzZ4KHVurvnbj8lZDg&oe=65852F98');
    background-size: cover;
    width:150px;
height: 150px;
margin: 90px;
left: 10px;
cursor: pointer;
   
    }
    .tap1:hover{
        background-image: url('https://78.media.tumblr.com/3ab5b5fa45a249fafa6bf8d71b284756/tumblr_mjpxatH1JN1qdwzvco1_500.gif');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    input[type=checkbox] {
        display:none;
    }
    input[type=checkbox]:checked + .tap {
        display: block;
    }
    input[type=checkbox]:checked + .tap1 {
        display: block;
    }
    input[type=checkbox]:checked + .tap2 {
        display: block;
    }
    input[type=checkbox]:checked + .tap3 {
        display: block;
    }
    input[type=checkbox]:checked + .tap4 {
        display: block;
    }
    input[type=checkbox]:checked + .tap5 {
        display: block;
    }
    * {
        box-sizing: border-box;
    }
    .container {
      display:inline-block;
    column-gap: 20px;
    }
    .skills, .experience, .personal{
        color:rgb(0, 0, 0);
        text-shadow: 0 0 5px rgb(255, 0, 157);
    }
    .skills, .experience, .personal {
        margin: 20px;
       }
       
       .skills ul, .experience , .personal {
        list-style-type: none;
        padding: 0;
       }
       
       .skills li, .experience li , .personal{
        padding: 5px;
       } 
       .skills{
height:200px;
width: 200px;
text-align: center;
margin-left: 300px;
background-color: rgba(0, 0, 0, 0.329);
border-radius: 30px;
       }
.experience{
margin-left: 520px;
    height:200px;
    margin-top:-220px;
width: 200px; 
text-align: center;
border-radius: 30px;
background-color: rgba(0, 0, 0, 0.329);
}
.personal{
    height:200px;
    width: 200px;
    text-align: center;
    margin-top: -220px;
    margin-left:740px;
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 30px;
 }

 @import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Silkscreen&display=swap');
label[for='una'] {
    left:0px;
    bottom:370px;
    margin:60px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 170, 248);
    font-family: cursive;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;

}
label[for='duha'] {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 170, 248);
    font-family: cursive;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    margin-top: -90px;
    margin-left: 200px;

}
label[for='tulo'] {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 170, 248);
    font-family: cursive;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    margin-left:60px;
}
label[for='upat'] {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 170, 248);
    font-family: cursive;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    margin-left:230px;
}


.tap2{
    position:relative;
    border: solid 2px #3f3b00;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    display: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px; 
    background: url('https://scontent.fcgm1-1.fna.fbcdn.net/v/t39.30808-6/381640336_303973595670877_5108485466543604929_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeE3tVYJWkNdf-dlp0x1PHylnaUuLaeGzW-dpS4tp4bNb8HhkXYwjHBxPXlA573kpbiQzI6ABzSc1ACm4IXYGlWe&_nc_ohc=wF68rHX809YAX-HDYC5&_nc_ht=scontent.fcgm1-1.fna&oh=00_AfBqZUSqvW65knrZ7nvURaJdmDw-NZBpXvsZ8X3eyGwMZw&oe=65540590') no-repeat;
    background-position-y: -250px;
    background-position-x: -300px;
    height:200px;
width:200px;
margin: 90px;
position: fixed;
cursor: pointer;
    text-align: center;
    }
    .tap3{
    height:200px;
    width:200px;
    display:none;
    background-color:green;
    left:200px;
    bottom:398px;
    margin:90px;
    }
    .tap4{
    height:200px;
    width:200px;
    display:none;
    background-color:yellow;
    left: -10px;
    bottom:606px;
    margin: 100px;
    }
   .tap5{
    height:200px;
    width:200px;
    display:none;
    background-color:blue;
    left:290px;
    bottom:990px;
    margin:66px;
    margin-left: 0px;
    }