
    <div class="tap-container">
        <label for='una'>Zedd</label>
    <input id='una' type='checkbox' />
    <div class="tap1">
    </div>

       <label for='duha'>Marshmellow</label>
           <input id='duha' type='checkbox' />
           <div class="tap2">
           </div>

       <label for='tulo'>Martin Garrix</label>
           <input id='tulo' type='checkbox' />
           <div class="tap3">
           </div>
       
       <label for='upat'>The Chainsmokers</label>
           <input id='upat' type='checkbox' />
           <div class="tap4"> 
           </div>
       </div>
