<body>
    <div class="tap-container">
        <label for='una'>Zedd</label>
           <input id='checkbox1' type='checkbox' />
           <div class="tap1">
           </div>
       
       <label for='duha'>Marshmellow</label>
           <input id='checkbox2' type='checkbox' />
           <div class="tap2">
           </div>
       
       <label for='tulo'>Martin Garrix</label>
           <input id='checkbox3' type='checkbox' />
           <div class="tap3">
           </div>
       
       <label for='upat'>The Chainsmokers</label>
           <input id='checkbox4' type='checkbox' />
           <div class="tap4"> 
           </div>
       </div>
</body>